In [2]:
#importing modules 
import json 
import pandas as pd

# test file path
path = "./test_directory_files/"
test_json = "119.56837603.5abc93e0-6e04-0134-173e-00505686a51c_labeled.json"

[Link](https://stackoverflow.com/questions/40712178/reading-the-json-file-with-multiple-objects-in-python) to help with decoding this particular JSON object. Multiple JSON object within one

In [18]:
with open(path + test_json) as f:
    df = pd.read_json(f, lines=True)

<class '_io.TextIOWrapper'>
None

In [25]:
df.iloc[1,-1]

{'subjects': ['Bayne William & Co'],
 'occupations': ['coffee'],
 'locations': [{'value': '89 Front'}]}

In [7]:
df.head()

,directory_uuid,page_uuid,entry_uuid,total_lines_from_hocr,original_hocr_line_number,bbox,col,appended,skipped_line_after,complete_entry,labeled_entry
0,1889.4b939190-317a-0134-d1d5-00505686a51c,119.56837603.5abc93e0-6e04-0134-173e-00505686a51c,9e71143640ec11ea8585e0accb5fbfb2,196,6,30 251 1586 273,1,no,0,,"{'subjects': [], 'occupations': [], 'locations..."
1,1889.4b939190-317a-0134-d1d5-00505686a51c,119.56837603.5abc93e0-6e04-0134-173e-00505686a51c,9e72fd6e40ec11ea903be0accb5fbfb2,196,7,24 293 604 328,1,no,0,"Bayne William & Co. coffee, 89 Front","{'subjects': ['Bayne William & Co'], 'occupati..."
2,1889.4b939190-317a-0134-d1d5-00505686a51c,119.56837603.5abc93e0-6e04-0134-173e-00505686a51c,9e7300d440ec11eab970e0accb5fbfb2,196,8,24 327 544 360,1,no,0,"Bayne William jr. coffee, 89 Front","{'subjects': ['Bayne William jr'], 'occupation..."
3,1889.4b939190-317a-0134-d1d5-00505686a51c,119.56837603.5abc93e0-6e04-0134-173e-00505686a51c,9e73033640ec11eaac63e0accb5fbfb2,196,9,24 347 789 417,1,yes,0,"Bayne — H. dry eds. 105 Franklin, h 123 E, 5%!","{'subjects': ['Bayne — H'], 'occupations': ['d..."
4,1889.4b939190-317a-0134-d1d5-00505686a51c,119.56837603.5abc93e0-6e04-0134-173e-00505686a51c,9e7306ba40ec11eaba63e0accb5fbfb2,196,11,24 394 790 461,1,yes,0,"Baynes ee sec. 523 W. 24th, h 8. Boulevard n H...","{'subjects': ['Baynes ee'], 'occupations': ['s..."

Where in the world did the 'labels':[h] come from?

In [26]:
df.labeled_entry.apply(pd.Series)

,subjects,occupations,locations
0,[],[],[]
1,[Bayne William & Co],[coffee],[{'value': '89 Front'}]
2,[Bayne William jr],[coffee],[{'value': '89 Front'}]
3,[Bayne — H],[dry eds],"[{'value': '105 Franklin'}, {'value': '123 E, ..."
4,[Baynes ee],[sec],"[{'value': '523 W. 24th'}, {'value': '8. Boule..."
...,...,...,...
147,[Beahling Charles],[tracks],"[{'value': '24 Beaver'}, {'value': '218 Cherry..."
148,[Beahre Daniel],[teacher],"[{'value': '847 E. 81st', 'labels': ['h']}]"
149,[Beakes Albert 8],[milk],"[{'value': '307 W. 44th'}, {'value': '347 W. 3..."
150,[Beakes Charles H. CO],[milk],"[{'value': '206 E. 12th & 307 W. 44th'}, {'val..."
151,[Beakes A],[milk],"[{'value': '8. & Co'}, {'value': '307 W. 44th'}]"