In [175]:
#importing modules 
import json 
import pandas as pd
import numpy as np

# test file path
path = "./test_directory_files/"
test_json = "119.56837603.5abc93e0-6e04-0134-173e-00505686a51c_labeled.json"
street_names_txt = "./city-directory-entry-parser-master/streetnames.txt"

[Link](https://stackoverflow.com/questions/40712178/reading-the-json-file-with-multiple-objects-in-python) to help with decoding this particular JSON object. Multiple JSON object within one.

In [2]:
# Opens the file and saves it to a pandas df
with open(path + test_json) as f:
    df = pd.read_json(f, lines=True)

In [73]:
# Quick look into the JSON table to check
df.tail()

,directory_uuid,page_uuid,entry_uuid,total_lines_from_hocr,original_hocr_line_number,bbox,col,appended,skipped_line_after,complete_entry,labeled_entry
147,1889.4b939190-317a-0134-d1d5-00505686a51c,119.56837603.5abc93e0-6e04-0134-173e-00505686a51c,9e73cd7a40ec11eabf9be0accb5fbfb2,196,193,814 3252 1579 3304,2,no,0,"Beahling Charles, tracks, 24 Beaver, h 218 Cherry","{'subjects': ['Beahling Charles'], 'occupation..."
148,1889.4b939190-317a-0134-d1d5-00505686a51c,119.56837603.5abc93e0-6e04-0134-173e-00505686a51c,9e73ce6240ec11ea8acae0accb5fbfb2,196,194,814 3301 1377 3334,2,no,0,"Beahre Daniel, teacher, h 847 E. 81st","{'subjects': ['Beahre Daniel'], 'occupations':..."
149,1889.4b939190-317a-0134-d1d5-00505686a51c,119.56837603.5abc93e0-6e04-0134-173e-00505686a51c,9e73cf6e40ec11eab923e0accb5fbfb2,196,195,814 3322 1578 3364,2,no,0,"Beakes Albert 8. milk, 307 W. 44th, h 347 W. 34th","{'subjects': ['Beakes Albert 8'], 'occupations..."
150,1889.4b939190-317a-0134-d1d5-00505686a51c,119.56837603.5abc93e0-6e04-0134-173e-00505686a51c,9e73d04a40ec11eab7f0e0accb5fbfb2,196,196,814 3366 1575 3397,2,yes,0,"Beakes Charles H. CO. milk, 206 E. 12th & 307 ...","{'subjects': ['Beakes Charles H. CO'], 'occupa..."
151,1889.4b939190-317a-0134-d1d5-00505686a51c,119.56837603.5abc93e0-6e04-0134-173e-00505686a51c,9e73d18a40ec11eaa8fde0accb5fbfb2,196,198,813 3431 1378 3464,2,no,0,"Beakes A. 8. & Co. milk, 307 W. 44th","{'subjects': ['Beakes A'], 'occupations': ['mi..."

In [41]:
# Manual uniqueness check
line_number = np.array(df.original_hocr_line_number)
unique_elements, counts_elements = np.unique(line_number, return_counts=True)
print("Frequency of unique values of the said array:")
print(np.asarray((unique_elements, counts_elements)))

Frequency of unique values of the said array:
[[  6   7   8   9  11  13  15  16  17  18  20  21  22  23  24  26  27  28
   29  30  31  32  33  34  35  36  37  38  39  40  41  42  43  44  46  47
   48  49  51  52  53  54  55  56  57  58  59  60  62  63  64  65  67  68
   69  70  71  72  73  74  75  76  77  78  79  80  82  83  84  85  86  87
   88  89  90  91  92  93  94  95  97  98  99 100 103 104 109 117 119 120
  121 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139
  140 141 142 143 144 148 149 150 151 152 154 155 156 157 158 159 161 162
  163 164 165 166 167 169 171 172 173 174 176 178 180 184 186 187 188 189
  190 191 192 193 194 195 196 198]
 [  1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1
    1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1
    1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1
    1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1
    1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1
    1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1
    1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1
    1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1
    1   1   1   1   1   1   1   1]]

Where in the world did the 'labels':["a", "h"] come from? For example, what is the difference between

In [13]:
# Quick glimpse of how the last column might actually look like
df.iloc[124,-1]

{'subjects': ['Beacom Thomas W'],
 'occupations': ['painter'],
 'locations': [{'value': '301 W. 127th', 'labels': ['h']}]}

In [11]:
df.iloc[110,-1]

{'subjects': ['Beach Warren C'],
 'occupations': ['u, s'],
 'locations': [{'value': '585 Fifth av,', 'labels': ['a', ' h']}]}

In [12]:
df.iloc[10,-1]

{'subjects': ['Bayot Emil'],
 'occupations': ['jeweler'],
 'locations': [{'value': '103 B. 14th'}]}

In [19]:
df.iloc[4,-1]

{'subjects': ['Baynes ee'],
 'occupations': ['sec'],
 'locations': [{'value': '523 W. 24th'},
  {'value': "8. Boulevard n Hunt's Point rd.", 'labels': ['h']}]}

In [21]:
df.iloc[147, -1]

{'subjects': ['Beahling Charles'],
 'occupations': ['tracks'],
 'locations': [{'value': '24 Beaver'},
  {'value': '218 Cherry', 'labels': ['h']}]}

In [82]:
df_labeled_entry = df.labeled_entry.apply(pd.Series)
df_locations = df_labeled_entry["locations"]
df_locations = pd.concat([df_locations, df.original_hocr_line_number], axis = 1)

In [83]:
df_locations

,locations,original_hocr_line_number
0,[],6
1,[{'value': '89 Front'}],7
2,[{'value': '89 Front'}],8
3,"[{'value': '105 Franklin'}, {'value': '123 E, ...",9
4,"[{'value': '523 W. 24th'}, {'value': '8. Boule...",11
...,...,...
147,"[{'value': '24 Beaver'}, {'value': '218 Cherry...",193
148,"[{'value': '847 E. 81st', 'labels': ['h']}]",194
149,"[{'value': '307 W. 44th'}, {'value': '347 W. 3...",195
150,"[{'value': '206 E. 12th & 307 W. 44th'}, {'val...",196
151,"[{'value': '8. & Co'}, {'value': '307 W. 44th'}]",198

In [59]:
df_locations.iloc[147,:]

locations                    [{'value': '24 Beaver'}, {'value': '218 Cherry...
original_hocr_line_number                                                  193
Name: 147, dtype: object

In [60]:
type(df_locations.iloc[147,0])

list

In [61]:
type(df_locations.iloc[147,0][1])

dict

In [63]:
df_locations.iloc[147][0]

[{'value': '24 Beaver'}, {'value': '218 Cherry', 'labels': ['h']}]

In other words, each labeled entry's location is stored as a list of _n_ dictionaries with two key-value pairs of `value` and `labels`.

In [65]:
df_locations.iloc[3][0]

[{'value': '105 Franklin'}, {'value': '123 E, 5%!', 'labels': ['h']}]

In [70]:
type(df_locations)

pandas.core.frame.DataFrame

In [162]:
line_num_list = []
complete_street_name = []
split_street_name = []
for entry in range(0,len(df_locations)):
    #print(df_locations.iloc[entry])
    for dicts in df_locations.iloc[entry][0]:
         for key, value in dicts.items():
                line_num_list.append(df_locations.iloc[entry][1])
                complete_street_name.append(value)
                street_name_split = str(value).split()
                split_street_name.append(street_name_split)

In [121]:
del unlisted_location

It appears that avenues are spelled out and streets are enumerated.

In [122]:
split_street_name

[['89', 'Front'],
 ['89', 'Front'],
 ['105', 'Franklin'],
 ['123', 'E,', '5%!'],
 ["['h']"],
 ['523', 'W.', '24th'],
 ['8.', 'Boulevard', 'n', "Hunt's", 'Point', 'rd.'],
 ["['h']"],
 ['1634', "B'way"],
 ["Hunt's", 'Point'],
 ["['h']"],
 ['523', 'W.', '24th'],
 ['534', 'W.', '4%th'],
 ["['h", "r']"],
 ['155', 'E.', '21st'],
 ["['h']"],
 ['89', 'Reade'],
 ['Plainfield,', 'N.', 'J.'],
 ["['h']"],
 ['103', 'B.', '14th'],
 ['3', 'Chambers'],
 ['54', 'Barclay', '&', '182', 'Cherry'],
 ['900', 'Second', 'av.'],
 ['245', 'Biway'],
 ['117', 'E.', 'Tith'],
 ["['h']"],
 ['78', 'Orchard'],
 ["['h']"],
 ['78', 'Orchard'],
 ["['h']"],
 ['231', 'E.', '38th'],
 ["['h']"],
 ['76', 'E.', '113th', '-'],
 ["['hh']"],
 ['Maker', '(periodical)', '46', 'E.', '14th'],
 ['415', 'Fifth'],
 ["['h']"],
 ['344', 'E.', '74th'],
 ["['h']"],
 ['167', 'Ludlow'],
 ["['h']"],
 ['243', 'BE.', '33d'],
 ["['h']"],
 ['183', 'W.', '68d'],
 ["['k']"],
 ['62', 'Tenth', 'av.'],
 ["['h", "&']"],
 ['9', 'Sixth', 'av.'],
 ['363', 'E.', '71st'],
 ["['h']"],
 ['404', 'W.', '54th'],
 ["['h']"],
 ['41', 'Wall'],
 ['825', 'Sixth', 'av'],
 ['62', 'S.', '5th', 'av.'],
 ["['h']"],
 ['§25', 'Sixth', 'av.'],
 ['Woodlawn'],
 ["['h']"],
 ['203', 'E.', '88th'],
 ['157', 'E.', '86th'],
 ["['h']"],
 ['157', 'E.', '86th'],
 ["['h']"],
 ['203', 'E.', '§8th'],
 ['31', "B'way"],
 ['Wallkill,', 'N.', 'Y.'],
 ["['h']"],
 ['45', 'Worth'],
 ['New-ark,', 'N.', 'J.'],
 ["['h']"],
 ['346', 'W.', '20th'],
 ["[')", "h']"],
 ['861', "B'way"],
 ['17', 'W.', '19th'],
 ["['h']"],
 ['55', 'W.', '19th'],
 ['109', 'W.', '32a'],
 ['21', 'W.', '53d'],
 ["['h']"],
 ['251', 'W.', '32a'],
 ["['h']"],
 ['110', 'E.', '27th'],
 ['210', 'E.', '634'],
 ["['h']"],
 ['206', 'W.', '41st'],
 ["['h']"],
 ['29', 'William'],
 ['196', 'Bway'],
 ["['&']"],
 ['44', 'E.', '79th'],
 ["['h']"],
 ['186', 'Goerck'],
 ["['h']"],
 ['536', 'Eleventh', 'av,'],
 ["['h']"],
 ['Grand', 'Central', 'depot'],
 ['20', 'W.', '69th'],
 ['2139', 'Seventh', 'av.'],
 ["['h']"],
 ['757', 'Bway'],
 ['338', 'E.', '12st'],
 ["['h']"],
 ['360', 'W.', '23a'],
 ['27', 'Charles'],
 ["['h']"],
 ['271', "B'way"],
 ['66', 'E.', '57th'],
 ["['h']"],
 ['601', 'W.', '43d'],
 ["['h']"],
 ['1722', 'Park', 'av.'],
 ["['h']"],
 ['456', 'W.', '39th'],
 ["['h']"],
 ['756', 'Seventh', 'av.'],
 ["['h']"],
 ['18', 'W.', '39th'],
 ["['h']"],
 ['387', 'Second', 'av,'],
 ["['h']"],
 ['201', 'W.', '44th'],
 ['2', 'Congress'],
 ["['h']"],
 ['22', 'Burling', 'sl'],
 ['361', "B'way"],
 ["['&']"],
 ['Stratford,', 'Ct.'],
 ["['h']"],
 ['6', 'Harrison'],
 ['Dover,', 'N,', 'J.'],
 ["['h']"],
 ['56', 'E.', '57th'],
 ["['h']"],
 ['418', 'W.', '39th'],
 ["['h", "r']"],
 ['82', 'Washn.', 'pl.'],
 ["['h']"],
 ['41', 'W', '3ist'],
 ["['h']"],
 ['22', 'Barrow'],
 ["['h']"],
 ['7', 'Murray'],
 ['853', "B'way"],
 ['38', 'Chariton'],
 ["['h']"],
 ["Hunt's", 'Point'],
 ["['h']"],
 ['31', "B'way"],
 ['Bloomfield,'],
 ["['h']"],
 ['523', 'W.', '40th'],
 ["['h']"],
 ['1404', 'Third', 'av.'],
 ["['h']"],
 ['189', 'Franklin'],
 ['128', 'Cam-bridge', 'pl.', "B'klyn"],
 ["['h']"],
 ['170', "B'way"],
 ['Orange,', 'N.', 'J.'],
 ["['h']"],
 ['25', 'E.', '5?th'],
 ["['h']"],
 ['45', 'E.', '384'],
 ["['h']"],
 ['44', 'New'],
 ['Peas'],
 ['nN]', 'Sper'],
 ['328', "B'way"],
 ['143', 'Chambers'],
 ["['v']"],
 ['1788.', 'Oxford,', "B'klyn"],
 ["['h']"],
 ['828', 'Courtlandt', 'av.'],
 ['21', 'W.', '129th'],
 ["['h']"],
 ['11', 'W.', '84th,', 'bh', '%', 'W.', '30th'],
 ['242', 'W.', '34th'],
 ["['h']"],
 ['110', 'EK.', '127th'],
 ["['h']"],
 ['584', 'Peari'],
 ["['h']"],
 ['134', 'Goerck'],
 ["['h']"],
 ['226', 'Second', 'av.'],
 ["['h']"],
 ['21', 'W.', '53d'],
 ["['h']"],
 ['19', 'Clinton', 'pl.'],
 ['280', "B'way"],
 ['81', "B'way"],
 ['Walkill,', 'N.', 'Y.'],
 ["['h']"],
 ['32', 'John'],
 ['102', 'E.', '57th'],
 ["['h']"],
 ['W.', '153d', 'n', 'Tenth', 'av.'],
 ["['h']"],
 ['257', 'E.', '81st'],
 ["['h']"],
 ['242', 'W.', '34th'],
 ['18', 'W.', '39th'],
 ["['h']"],
 ['260', 'W.', '23d', '127th', "'"],
 ["['h']"],
 ['110', 'E.'],
 ["['h']"],
 ['142', 'W.', '124th'],
 ["['h']"],
 ['128', 'Cherry'],
 ["['h']"],
 ['206', 'Bway'],
 ['212', 'W.', '45th'],
 ["['h']"],
 ['585', 'Fifth', 'av,'],
 ["['a',", "'", "h']"],
 ['356', 'W.', '3ith'],
 ["['h']"],
 ['72', 'Beaver'],
 ["['storage']"],
 ['502,', '508', '&', '516', 'Washn'],
 ['439', "G'wich"],
 ['43', 'Vestry,', '272', '&', '206', 'Water'],
 ['56', 'Laight'],
 ['311', 'West', '&', '270', 'Front'],
 ['56', 'West', 'Side', 'av.', 'J.', 'C.', ':'],
 ["['h']"],
 ['159', 'E.', '49th'],
 ['31', "B'way"],
 ['139', 'Franklin'],
 ['7', 'Barclay'],
 ['309', 'W.', '136th'],
 ["['h']"],
 ['16', 'Cortlandt'],
 ['189', "B'way"],
 ['289', 'Clermont', 'av.', "B'klyn"],
 ["['h']"],
 ['353', 'E.', '76th'],
 ["['h']"],
 ['164', 'E.', '127th'],
 ['164', 'E.', '127th'],
 ['321', 'Spring'],
 ["['h']"],
 ['610', 'E.', '11th'],
 ["['h']"],
 ['365', 'Broome', '&', '166', 'E.', '12th'],
 ['301', 'W.', '127th'],
 ["['h']"],
 ['122', 'Front'],
 ['571', 'Park', 'av.'],
 ["['h']"],
 ['104', 'Seventh'],
 ["['h']"],
 ['317', 'Eighth'],
 ["['h']"],
 ['1193', "B'way"],
 ['Cranford,'],
 ["['h']"],
 ['98', 'William'],
 ['Coopers-town,', 'N.', 'Y.'],
 ["['h']"],
 ['79', 'Duane'],
 ['320', 'Union,', 'yn'],
 ["['h']"],
 ['34', 'Vesey'],
 ['Orange,', 'N.', 'J.'],
 ["['h']"],
 ['524', 'W.', '45th'],
 ["['h']"],
 ['98', 'William'],
 ['291', 'W.', '10th'],
 ['7W.', 'it'],
 ["['h']"],
 ['1', 'Third', 'av'],
 ["['v']"],
 ['44', 'W.', 'th'],
 ["['h']"],
 ['201', 'W.', '10th'],
 ['25', 'W.', 'Sist'],
 ["['h']"],
 ['283', 'to', '303', 'West', '10th'],
 ['158', 'to', '170', 'Charles', 'street'],
 ['291', 'West', '10th', 'street'],
 ["['office']"],
 ['154', 'Nassau', '&', '307', 'Sixth', 'av'],
 ['258', 'W.', '22d'],
 ["['h']"],
 ['341', 'Rivington'],
 ["['h']"],
 ['341', 'Rivington'],
 ["['h']"],
 ['Riverdale'],
 ["['h']"],
 ['105', 'E.', '84th'],
 ["['h']"],
 ['19', 'Third'],
 ["['h']"],
 ['964', 'First', 'av.'],
 ["['h']"],
 ['319', 'W.', '44th'],
 ["['h']"],
 ['24', 'Beaver'],
 ['218', 'Cherry'],
 ["['h']"],
 ['847', 'E.', '81st'],
 ["['h']"],
 ['307', 'W.', '44th'],
 ['347', 'W.', '34th'],
 ["['h']"],
 ['206', 'E.', '12th', '&', '307', 'W.', '44th'],
 ['Grand', 'Central', 'h,'],
 ["['h']"],
 ['8.', '&', 'Co'],
 ['307', 'W.', '44th']]

In [165]:
unlisted_location = pd.concat([pd.Series(complete_street_name), pd.Series(split_street_name), pd.Series(line_num_list)], axis = 1)
unlisted_location.columns = ["complete_street_name", "split_street_name", "line_number"]

In [166]:
unlisted_location

          complete_street_name                  split_street_name  line_number
0                     89 Front                        [89, Front]            7
1                     89 Front                        [89, Front]            8
2                 105 Franklin                    [105, Franklin]            9
3                   123 E, 5%!                     [123, E,, 5%!]            9
4                          [h]                            [['h']]            9
..                         ...                                ...          ...
310  206 E. 12th & 307 W. 44th  [206, E., 12th, &, 307, W., 44th]          196
311           Grand Central h,               [Grand, Central, h,]          196
312                        [h]                            [['h']]          196
313                    8. & Co                        [8., &, Co]          198
314                307 W. 44th                    [307, W., 44th]          198

[315 rows x 3 columns]

In [172]:
# first order of business is to test if string is a street number
# if it is not, then it is probably a street name, and a comparison can be made

for i in range(0, len(unlisted_location)):
    for address_component in unlisted_location.iloc[i, 1]:
        print(address_component.isnumeric())

True
False
True
False
True
False
True
False
False
False
True
False
False
False
False
False
False
False
False
False
True
False
False
False
False
True
False
False
True
False
False
False
False
True
False
False
False
True
False
False
False
False
False
True
False
False
True
False
True
False
False
True
False
True
False
False
True
False
True
False
False
False
True
False
False
True
False
False
True
False
False
False
True
False
False
False
False
False
False
True
False
False
True
False
False
True
False
False
False
True
False
False
True
False
False
False
True
False
False
False
True
False
False
False
False
True
False
False
True
False
False
False
True
False
False
False
True
False
True
False
False
True
False
False
False
False
False
False
False
False
False
True
False
False
True
False
False
False
True
False
False
False
True
False
False
True
False
False
False
False
False
True
False
False
False
False
False
True
False
False
False
False
True
False
True
False
False
False
True
False
False
True
False
False
True
False
False
False
True
False
False
False
True
False
False
True
False
True
False
True
False
False
False
True
False
True
False
False
True
False
False
False
True
False
False
True
False
False
False
False
False
False
True
False
False
True
False
False
False
True
False
True
False
False
False
True
False
False
True
False
False
True
False
True
False
False
False
True
False
False
False
True
False
False
False
True
False
False
False
True
False
False
False
True
False
False
False
True
False
False
False
True
False
False
True
False
False
True
False
False
True
False
False
False
False
False
True
False
False
False
False
False
True
False
False
False
True
False
False
False
False
True
False
False
False
True
False
False
False
True
False
False
True
False
True
False
True
False
False
False
False
False
True
False
False
False
True
False
False
False
True
False
False
False
True
False
True
False
False
False
False
True
False
False
False
False
False
True
False
False
False
True
False
True
False
True
False
False
False
False
True
False
True
False
False
False
False
False
False
True
False
False
True
False
False
False
True
False
False
False
False
False
False
True
False
False
False
True
False
False
False
True
False
False
True
False
False
True
False
False
False
True
False
False
False
True
False
False
True
False
True
False
False
False
False
False
True
False
True
False
False
False
False
False
False
False
False
False
True
False
False
False
True
False
False
True
False
False
False
True
False
False
False
False
False
True
False
False
True
False
False
False
True
False
False
True
False
True
False
False
False
True
False
False
False
False
False
True
False
False
False
True
False
False
False
True
False
True
False
True
False
True
False
True
False
True
False
True
False
True
False
False
True
False
True
False
False
False
False
False
False
False
True
False
False
True
False
True
False
True
False
True
False
False
False
True
False
True
False
True
False
False
False
False
True
False
False
False
True
False
False
True
False
False
True
False
False
True
False
False
False
True
False
False
True
False
False
True
False
False
False
True
False
True
False
False
False
True
False
False
True
False
False
True
False
False
False
True
False
False
False
False
False
True
False
True
False
False
False
True
False
False
False
False
False
True
False
False
False
True
False
True
False
False
False
False
False
True
False
False
False
True
False
False
False
True
False
False
True
False
False
False
True
False
True
False
False
True
False
True
False
False
True
False
False
False
False
True
False
False
True
False
False
True
False
False
False
True
False
False
True
False
False
False
False
True
False
False
False
True
False
False
True
False
False
False
True
False
False
False
True
False
True
False
False
True
False
False
False
True
False
False
True
False
False
False
True
False
False
False
True
False
False
False
False
False
False
False
False
False
True
False
False

In [176]:
master_street_names = pd.read_csv(street_names_txt, header = None)

In [177]:
master_street_names

                0
0          Fourth
1            Gold
2        Congress
3        Dominick
4      Washington
..            ...
450          57th
451  Fifty-Eighth
452          58th
453   Fifty-Ninth
454          59th

[455 rows x 1 columns]